/packer/variables.json
/packer/variables.hcl
/packer/.ssh/key.json
*key.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
/terraform/key.json
/folder/
/terraform/storage-bucket.tf
/terraform/stage/backend.tf
terraform/stage/backend.tf
*.retry
